.wrapper {
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  height: 100vh;
  background-color: var(--slate-grey);
}

.header {
  width: 100%;
  align-items: center;
  justify-content: center;
  font-style: italic;
  margin: auto;
  color: var(--rich-black);
  text-align: center;
  margin: 0;
}

.header > h1 {
  font-size: 3rem;
  margin: 0.2rem auto;
}

.header > legend {
  font-size: 1.2rem;
  margin: 0.2rem auto;
}

.main-element {
  max-width: 40em;
  min-width: 40em;
  max-height: 40em;
  min-height: 40em;
}

.main-element,
.form {
  display: flex;
}

.wrapper,
.main-element,
.form {
  display: flex;
  flex-direction: column;
}

.form {
  margin-top: 3rem;
  background-color: var(--space-cadet);
}

.fieldsets {
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
}

.fieldset {
  display: flex;
  padding: 0.5rem;
  border: none;
  vertical-align: middle;
}

.field {
  font-size: 1.6rem;
  flex-basis: 80%;
  background-color: var(--raisin-black);
  border: none;
  color: var(--azure-x);
  text-indent: 0.5rem;
  padding: 0.1rem;
  margin-left: auto;
}

.field:invalid {
  border-color: var(--red-pigment);
  color: var(--red-pigment);
}

.label {
  color: var(--azure-x);
  text-align: center;
  flex-basis: 10%;
  font-size: 1.3rem;
  margin-right: 0.4rem;
  white-space: nowrap;
  margin: auto;
}

.submit-btn {
  margin: auto;
  margin-bottom: 0.5rem;
  padding: 0.8rem;
  background-color: var(--dark-sky-blue);
  color: var(--rich-black);
  font-size: 1.3rem;
}

.submit-btn:enabled:hover {
  cursor: pointer;
  color: var(--azure-x);
  background-color: var(--celadon-blue);
}

.submit-btn:disabled {
  cursor: not-allowed;
  color: var(--rich-black);
  opacity: 0.7;
}

.submit-btn:disabled:hover {
  cursor: not-allowed;
}

.shortened-link {
  display: flex;
  background-color: var(--space-cadet);
  padding: 0.5rem;
  justify-content: center;
  margin: auto 3rem;
  margin-top: 2rem;
  align-items: center;
  vertical-align: middle;
}

.shortened-link--text {
  font-size: 1.9rem;
  color: var(--azure-x);
  background-color: var(--raisin-black);
  border: none;
  padding: 0.4rem;
  text-indent: 0.7rem;
  flex-basis: 90%;
}

.clipboard-btn {
  position: relative;
  flex-basis: 10%;
  background-color: var(--dark-sky-blue);
  max-width: 3rem;
  min-width: 3rem;
  min-height: 3rem;
  max-height: 3rem;
  margin: auto;
  margin-right: 0rem;
}

.clipboard-btn:hover {
  cursor: pointer;
  color: var(--azure-x);
  background-color: var(--celadon-blue);
}

.clipboard-btn-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
