.wrapper {
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  height: 100vh;
  background-color: var(--slate-grey);
}

.main-element {
  max-width: 40em;
  min-width: 40em;
  max-height: 20em;
  min-height: 20em;
}

.main-element,
.form {
  display: flex;
}

.wrapper,
.main-element,
.form {
  display: flex;
  flex-direction: column;
}

.form {
  margin-top: 3em;
  background-color: var(--space-cadet);
}

.input-button-row {
  display: flex;
  padding: 0.5rem;
}

.input-link {
  font-size: 1.6rem;
  flex-basis: 90%;
  background-color: var(--raisin-black);
  border: none;
  color: var(--azure-x);
  text-indent: 0.5rem;
  padding: 0.1rem;
}

.submit-btn {
  flex-basis: 30%;
  background: none;
  margin-left: 2rem;
  font-weight: bold;
  background-color: var(--dark-sky-blue);
}

.submit-btn:hover {
  cursor: pointer;
  color: var(--azure-x);
  background-color: var(--celadon-blue);
}

.shortened-link {
  display: flex;
  background-color: var(--space-cadet);
  padding: 0.5rem;
  justify-content: center;
  margin: auto 3rem;
  margin-top: 5rem;
  align-items: center;
  vertical-align: middle;
}

.shortened-link--text {
  font-size: 1.9rem;
  color: var(--azure-x);
  background-color: var(--raisin-black);
  border: none;
  padding: 0.4rem;
  text-indent: 0.7rem;
  flex-basis: 90%;
}

.clipboard-btn {
  position: relative;
  flex-basis: 10%;
  background-color: var(--dark-sky-blue);
  max-width: 3rem;
  min-width: 3rem;
  min-height: 3rem;
  max-height: 3rem;
  margin: auto;
  margin-right: 0rem;
}

.clipboard-btn:hover {
  cursor: pointer;
  color: var(--azure-x);
  background-color: var(--celadon-blue);
}

.clipboard-btn-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
